body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf4ff;
    color: #17324d;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(#6faee8, #f7c6a3);
    color: white;
}

header h1 {
    font-size: 50px;
    margin: 0;
}

header p {
    font-size: 20px;
}

nav {
    text-align: center;
    padding: 20px;
    background-color: #17324d;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f7c6a3;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

main h2 {
    color: #286090;
}

main img {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    border-radius: 15px;
}
footer {
    text-align: center;
    padding: 25px;
    background-color: #17324d;
    color: white;
}
